@import url('/static/dark-mode.css');

.container {
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.persona-section, .invite-code-section, .user-management-section, .settings-section, .task-section, .history-section, .rules-section {
    border: 1px solid #5b5b5b; /* Add a 1px solid black border */
    border-radius: 10px; /* Make the edges round by setting border-radius */
    padding: 10px; /* Add some padding for spacing */
    margin: 10px; /* Add margin for spacing between sections */
    overflow-x: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.hidden {
    display: none;
}