<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ translations.chat_title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify/purify.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/chat.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="chat-container">
    <div id="chat-messages" class="chat-messages"></div>
    <div class="chat-input">
        <input type="text" id="user-input" placeholder="{{ translations.user_input_placeholder }}"/>
        <button id="send-button" class="pure-button pure-button-primary">{{
            translations.send_button_text }}
        </button>
        <button id="task-button" class="pure-button"
                style="background-color: #007bff;">{{ translations.show_task_button_text }}
        </button>
        <button id="done-button" class="pure-button pure-button-error"
                style="background-color: #e53935;">{{ translations.end_chat_button_text }}
        </button>
    </div>
    <div id="timer-display" class="timer-display">{{ translations.timer_display_text }}</div>
    <div id="message-counter" class="message-counter">{{ translations.message_counter_text }}</div>
</div>
<div id="taskModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <h2>{{ translations.task_modal_title }}</h2>
            </header>
            <div class="modal-body">
                <p></p>
            </div>
            <footer class="modal-footer">
                <button id="modalCloseButton" class="pure-button pure-button-primary">Okay</button>
            </footer>
        </div>
    </div>
</div>
<div id="endChatModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <h2>{{ translations.end_chat_modal_title }}</h2>
            </header>
            <div class="modal-body">
            </div>
            <footer class="modal-footer">
                <button id="endChatModalConfirmButton"
                        class="pure-button pure-button-primary end-chat-button">{{
                    translations.end_chat_modal_confirm_button_text }}
                </button>
                <button id="endChatModalCancelButton" class="pure-button">{{
                    translations.end_chat_modal_cancel_button_text }}
                </button>
            </footer>
        </div>
    </div>
</div>
<div class="loading-overlay" id="loadingOverlay">
    <div class="spinner"></div>
</div>


<script type="module" src="/static/common.js"></script>
<script type="module" src="/static/chat.js"></script>
</body>
</html>
