<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat Interface</title>
    <link rel="stylesheet" href="../static/chat_style.css">
</head>
<body>
    <div class="chat-container">
        <div id="chat-messages" class="chat-messages"></div>
        <div class="chat-input">
            <input type="text" id="user-input" placeholder="Type your message..." />
            <button id="send-button">Send</button>
        </div>
    </div>

    <script src="../static/chat_script.js"></script>
</body>
</html>
