<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"/>
    <link rel="stylesheet" href="/static/questionnaire.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container pure-g">
    <div class="pure-u-1">
        <h1 class="header">{{ translations.title }}</h1>
    </div>
    <form class="pure-form pure-form-stacked pure-u-1" id="rosas-form">

        {% if show_discussion_section %}
        <fieldset>
            <legend>{{ translations.discussion_attributes_legend }}</legend>
            <p>{{ translations.discussion_attributes_description }}</p>

            <label for="intention-label">{{ translations.intention_label }}</label>
            <em><span id="intention-label">{{ intention }}</span></em>
            
            <table>
                <tr>
                    <td>
                        <label for="accuracy-after">{{ translations.accuracy_label_after }}</label>
                    </td>
                    <td>
                        <input type="radio" id="accuracy-after-1" name="accuracy-after" value="1"
                               required>
                        <label for="accuracy-after-1">1</label>
                    </td>
                    <td>
                        <input type="radio" id="accuracy-after-2" name="accuracy-after" value="2"
                               required>
                        <label for="accuracy-after-2">2</label>
                    </td>
                    <td>
                        <input type="radio" id="accuracy-after-3" name="accuracy-after" value="3"
                               required>
                        <label for="accuracy-after-3">3</label>
                    </td>
                    <td>
                        <input type="radio" id="accuracy-after-4" name="accuracy-after" value="4"
                               required>
                        <label for="accuracy-after-4">4</label>
                    </td>
                    <td>
                        <input type="radio" id="accuracy-after-5" name="accuracy-after" value="5"
                               required>
                        <label for="accuracy-after-5">5</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="convince-after">{{ translations.convince_label_after }}</label>
                    </td>
                    <td>
                        <input type="radio" id="convince-after-1" name="convince-after" value="1"
                               required>
                        <label for="convince-after-1">1</label>
                    </td>
                    <td>
                        <input type="radio" id="convince-after-2" name="convince-after" value="2"
                               required>
                        <label for="convince-after-2">2</label>
                    </td>
                    <td>
                        <input type="radio" id="convince-after-3" name="convince-after" value="3"
                               required>
                        <label for="convince-after-3">3</label>
                    </td>
                    <td>
                        <input type="radio" id="convince-after-4" name="convince-after" value="4"
                               required>
                        <label for="convince-after-4">4</label>
                    </td>
                    <td>
                        <input type="radio" id="convince-after-5" name="convince-after" value="5"
                               required>
                        <label for="convince-after-5">5</label>
                    </td>
                </tr>
            </table>
        </fieldset>
        {% else %}
        <fieldset>
            <legend>{{ translations.discussion_attributes_legend }}</legend>
            <p>{{ translations.discussion_attributes_description }}</p>

            <label for="intention-label">{{ translations.intention_label }}</label>
            <em><span id="intention-label">{{ intention }}</span></em>
            <table>
                <tr>
                    <td>
                        <label for="accuracy-after">{{ translations.accuracy_label_after }}</label>
                    </td>
                    <td>
                        <input type="radio" id="accuracy-after-1" name="accuracy-after" value="1"
                               required>
                        <label for="accuracy-after-1">1</label>
                    </td>
                    <td>
                        <input type="radio" id="accuracy-after-2" name="accuracy-after" value="2"
                               required>
                        <label for="accuracy-after-2">2</label>
                    </td>
                    <td>
                        <input type="radio" id="accuracy-after-3" name="accuracy-after" value="3"
                               required>
                        <label for="accuracy-after-3">3</label>
                    </td>
                    <td>
                        <input type="radio" id="accuracy-after-4" name="accuracy-after" value="4"
                               required>
                        <label for="accuracy-after-4">4</label>
                    </td>
                    <td>
                        <input type="radio" id="accuracy-after-5" name="accuracy-after" value="5"
                               required>
                        <label for="accuracy-after-5">5</label>
                    </td>
                </tr>
            </table>
        </fieldset>
        {% endif %}

        <fieldset>
            <legend>{{ translations.feedback_legend }}</legend>
            <label for="feedback">{{ translations.feedback_label }}:</label>
            <textarea id="feedback" name="feedback" rows="4"></textarea>
        </fieldset>
        <button type="submit" class="pure-button pure-button-primary">{{
            translations.submit_button_text }}
        </button>
    </form>
</div>

<script type="module" src="/static/common.js"></script>
<script type="module" src="/static/questionnaire.js"></script>
</body>
</html>
