<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', path='questionnaire.css') }}">
</head>
<body>
<div class="container pure-g">
    <div class="pure-u-1">
        <h1 class="header">Questionnaire</h1>
    </div>
    <form class="pure-form pure-form-stacked pure-u-1" id="rosas-form">

        <fieldset>
            <legend>Perceived Social Attributes</legend>
            <p>Rate each statement on a scale from 1 (Strongly Disagree) to 5 (Strongly Agree)</p>

            <div class="range-container">
                <label for="warmth">Warmth:</label>
                <input type="range" id="warmth" name="warmth" min="0" max="5" step="1" value="0"
                       required
                       oninput="this.nextElementSibling.value = this.value">
                <output class="range-label">0</output>
            </div>
            <div class="range-container">
                <label for="competence">Competence:</label>
                <input type="range" id="competence" name="competence" min="0" max="5" step="1"
                       value="0" required
                       oninput="this.nextElementSibling.value = this.value">
                <output class="range-label">0</output>
            </div>
            <div class="range-container">
                <label for="discomfort">Discomfort:</label>
                <input type="range" id="discomfort" name="discomfort" min="0" max="5" step="1"
                       value="0" required
                       oninput="this.nextElementSibling.value = this.value">
                <output class="range-label">0</output>
            </div>
            <div class="range-container">
                <label for="anthropomorphism">Anthropomorphism:</label>
                <input type="range" id="anthropomorphism" name="anthropomorphism" min="0" max="5"
                       step="1" value="0" required
                       oninput="this.nextElementSibling.value = this.value">
                <output class="range-label">0</output>
            </div>
            <div class="range-container">
                <label for="animacy">Animacy:</label>
                <input type="range" id="animacy" name="animacy" min="0" max="5" step="1" value="0"
                       required
                       oninput="this.nextElementSibling.value = this.value">
                <output class="range-label">0</output>
            </div>
            <div class="range-container">
                <label for="likeability">Likeability:</label>
                <input type="range" id="likeability" name="likeability" min="0" max="5" step="1"
                       value="0" required
                       oninput="this.nextElementSibling.value = this.value">
                <output class="range-label">0</output>
            </div>
            <div class="range-container">
                <label for="perceived-intelligence">Perceived Intelligence:</label>
                <input type="range" id="perceived-intelligence" name="perceived-intelligence"
                       min="0" max="5" step="1"
                       value="0" required oninput="this.nextElementSibling.value = this.value">
                <output class="range-label">0</output>
            </div>
            <div class="range-container">
                <label for="perceived-safety">Perceived Safety:</label>
                <input type="range" id="perceived-safety" name="perceived-safety" min="0" max="5"
                       step="1" value="0" required
                       oninput="this.nextElementSibling.value = this.value">
                <output class="range-label">0</output>
            </div>
        </fieldset>

        {% if show_discussion_section %}
        <fieldset>
            <legend>Discussion Attributes</legend>
            <p>Rate each statement on a scale from 1 (Not at all) to 5 (Completely)</p>

            <label for="intention-label">Perceived intention of the user:</label>
            <span id="intention-label">"{{ intention }}"</span>

            <div class="range-container">
                <label for="accurate-description">How accurately does this interpretation describe
                    your intentions?</label>
                <input type="range" id="accurate-description" name="accurate-description" min="0"
                       max="5" step="1" value="0" required
                       oninput="this.nextElementSibling.value = this.value">
                <output class="range-label">0</output>
            </div>

            <div class="range-container">
                <label for="convince-chatbot">To what extent were you able to convince the
                    ChatBot?</label>
                <input type="range" id="convince-chatbot" name="convince-chatbot" min="0" max="5"
                       step="1" value="0" required
                       oninput="this.nextElementSibling.value = this.value">
                <output class="range-label">0</output>
            </div>
        </fieldset>
        {% endif %}

        <fieldset>
            <legend>User Experience and Satisfaction</legend>
            <label for="satisfaction">How satisfied were you with your interactions with the
                ChatBot?</label>
            <select id="satisfaction" name="satisfaction" required>
                <option value="" disabled selected>Select an option</option>
                <option value="1">Not at all satisfied</option>
                <option value="2">Somewhat satisfied</option>
                <option value="3">Neutral</option>
                <option value="4">Satisfied</option>
                <option value="5">Very satisfied</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Open-Ended Feedback</legend>
            <label for="feedback">Please provide any additional comments or feedback about your
                experience:</label>
            <textarea id="feedback" name="feedback" rows="4"></textarea>
        </fieldset>
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </form>
</div>

<script type="module" src="{{ url_for('static', path='common.js') }}"></script>
<script type="module" src="{{ url_for('static', path='questionnaire.js') }}"></script>
</body>
</html>
