<!DOCTYPE html>
<html>
<head>
    <title>User Creation</title>
    <link rel="stylesheet" href="../static/user_creation_styles.css">
</head>
<body>
<h1>User Creation</h1>
<form id="userForm">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required>

    <label for="invite_code">Invite Code:</label>
    <input type="text" id="invite_code" name="invite_code" required>

    <button type="submit">Create User</button>
</form>
<script src="../static/user_creation_script.js"></script>
</body>
</html>
