<!DOCTYPE html>
<html>
<head>
    <title>User Creation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"/>
    <link rel="stylesheet" href="/static/user_creation.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<label for="languageSelect">Select Language/Wählen Sie Ihre Sprache:</label>
<select id="languageSelect">
    <option value="en">English</option>
    <option value="de">Deutsch</option>
</select>

<h1>{{ translations.user_creation_title }}</h1>

<form id="userForm">
    <label for="age">{{ translations.age_label }}:</label>
    <input type="number" id="age" name="age" required>

    <label for="gender">{{ translations.gender_label }}:</label>
    <select id="gender" name="gender" required>
        <option value="male">{{ translations.male_option }}</option>
        <option value="female">{{ translations.female_option }}</option>
        <option value="other">{{ translations.other_option }}</option>
    </select>

    <label for="occupation">{{ translations.occupation_label }}:</label>
    <input type="text" id="occupation" name="occupation" required>

    <label for="location">{{ translations.location_label }}:</label>
    <input type="text" id="location" name="location" required>

    <label class="language-label">{{ translations.language_label }}:</label>
    <input type="radio" id="languageEnglish" name="language" value="english" required>
    <label class="language-label" for="languageEnglish">{{ translations.english_option }}</label>
    <input type="radio" id="languageGerman" name="language" value="german" required>
    <label class="language-label" for="languageGerman">{{ translations.german_option }}</label>

    <label for="invite_code">{{ translations.invite_code_label }}:</label>
    <input type="text" id="invite_code" name="invite_code" required>
    <label for="dataCollectionCheckbox">
        <input type="checkbox" id="dataCollectionCheckbox" name="dataCollectionCheckbox">
        {{ translations.data_collection_label }}
        <a href="#" id="privacyPolicyLink">{{ translations.privacy_policy_link_text }}.</a>.
    </label>
    <br>
    <button type="submit" id="createUserButton">{{ translations.create_user_button_text }}</button>
</form>


<div id="privacyPolicyModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <iframe id="privacyPolicyFrame" frameborder="0" width="100%"
                        height="400"></iframe>

            </div>
            <footer class="modal-footer">
                <button id="agreeButton" class="pure-button pure-button-primary">{{
                    translations.agree }}
                </button>
                <button id="disagreeButton" class="pure-button">{{ translations.disagree }}</button>
            </footer>
        </div>
    </div>
</div>

<script type="module" src="/static/common.js"></script>
<script type="module" src="/static/user_creation.js"></script>
</body>
</html>
